@font-face {
    font-family: monserat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: normal;
}

body {
    width: 1280px;
    text-align: center;
    margin: 0 auto;
}

.menu {
    padding: 0px;
    margin: 0px;
}

.menu li {
    display: inline-block;
    font-family: monserat;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    margin: 25.5px 50px 25.5px 22px;
}

a {
    color: #FF0000;
    text-decoration: none;
}

#menu_item_dwnl {
    margin: 25.5px 22px 25.5px 0px;
}

.photo {
    height: 789px;
    background: black
}

h2 {
    color: #373737;
    text-transform: uppercase;
    font-family: monserat;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    margin: 49px 0px 38px
}

.content p {
    color: #373737;
    text-align: center;
    font-family: monserat;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    margin: 28px 67.5px;
}

button {
    background-color: #FF0000;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: center;
    font-family: monserat;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    margin: 38px 0px 82px;
    padding: 0;
}

.copyright {
    color: #373737;
    text-align: right;
    font-family: monserat;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    margin: 0px 105px 29px 713px;
}